{:deps  {net.mikera/vectorz-clj {:mvn/version "0.48.0"}
         org.clojure/data.avl   {:mvn/version "0.1.0"}}

 :paths ["src"]

 :aliases
 {:dev
  {:extra-paths ["dev" "test" "test-resources"]
   :extra-deps  {criterium/criterium           {:mvn/version "0.4.6"}
                 org.clojure/data.json         {:mvn/version "2.5.0"}
                 ai.djl/api                    {:mvn/version "0.28.0"}
                 ai.djl.huggingface/tokenizers {:mvn/version "0.28.0"}
                 ai.djl.pytorch/pytorch-engine {:mvn/version "0.28.0"}}}}}